@{
    ViewData["Title"] = "Index";
}
<section id="first">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-12 col-md-6">
                <a asp-action="Cards" asp-controller="Home">
                    <div class="box">
                        <p>Kartlara baxış</p>
                        <img src="Assets/img/female-depositing-cash-in-bank.png" alt="Image">
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-12 col-md-6">
                <a asp-action="Insert" asp-controller="Home">
                    <div class="box">
                        <p>Kart əlavə edilməsi</p>
                        <img src="Assets/img/payment-successful.png" alt="Image">
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-12 col-md-6">
                <a asp-action="Contact" asp-controller="Home">
                    <div class="box">
                        <p>Support</p>
                        <img src="Assets/img/qr-code.png" alt="Image">
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
